#deadpool{
    background-image: url("../images/deadpool.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 300px;
}

#tortue{
    background-image: url("../images/tortue.jpg");
    background-size: 400px;
    background-repeat: no-repeat;
    height: 300px;
}

#eponge{
    background-image: url("../images/eponge.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    height: 300px;
}
#hulk{
    background-image: url("../images/hulk.jpg");
    background-size: 200px;
    background-repeat: no-repeat;
    height: 300px;
}




#grand{
    width: 500px;
    border: 1px solid black;
}


#p1,#p2,#p3,#p4{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

#p1{
    margin: 20px auto;
    border: 3px solid orange;
}
#p2{
    margin: 50px 30px;
    padding: 20px;
    border: 3px solid royalblue;
}
#p3{
    margin: 50px 40px;
    padding: 5px 20px 30px;
    border: 3px dotted brown;
}
#p4{
    margin: 0;
    padding: 10px 20px;
    
}
